// Import Custom Font - Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&display=swap");

// Custom Typography Styles

h5 {
  font-weight: 200;
  letter-spacing: 0.5px;
}

h6 {
  color: $danger;
}

p {
  line-height: $line-height-sm;
  text-align: left;
  font-weight: 200;
}