// Import Custom Font - Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&display=swap");

// Custom Typography Styles

h4, h5 {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2.25rem;
}

h6 {
  color: $danger;
}

p {
  line-height: $line-height-sm;
  text-align: left;
  font-weight: 300;
}